<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label routerLink="/cards">Cards</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/accordion">Acocordion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/badge">Badge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/button">Button</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/media">Media</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/menu">Menu</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/list">List</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/select">Select</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/tabs">Tabs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/toast">Toast</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
